---
# 引数は左揃え
AlignAfterOpenBracket: Align

# 連続する行の = の位置を揃える
AlignConsecutiveAssignments: true

# 連続する行の宣言の位置を揃える
AlignConsecutiveDeclarations: true

# マクロの位置を揃える
AlignConsecutiveMacros: true

# 二項演算子と三項演算子を揃える
AlignOperands: true

# 連続する行のコメントの位置揃える
AlignTrailingComments: true

# 短い関数を単一行にしない
AllowShortFunctionsOnASingleLine: None

# { } の位置
# "BreakBeforeBraces: Custom" の場合に有効となる
# true なら独立行にする
BraceWrapping:
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: false
    BeforeElse: false

# { } の位置をカスタム設定する
BreakBeforeBraces: Custom

# 1行の文字数を制限する (0で無制限)
ColumnLimit: 100

# includeを名前順にソートする
IncludeBlocks: Preserve

# swicth文のcaseにインデントを設定する
IndentCaseLabels: true

# インデントは4スペース
IndentWidth: 4

# ポインターの * & は変数宣言の左に記述する
PointerAlignment: Left

# キャストの後ろにスペースを入れない
SpaceAfterCStyleCast: false

# 制御文の ( の前にスペースを入れる
SpaceBeforeParens: ControlStatements

# code; [soace size] // comment
SpacesBeforeTrailingComments: 1

# template < T >
SpacesInAngles: true

AlwaysBreakTemplateDeclarations: true

# アクセス修飾子のインデント位置
AccessModifierOffset: -4

# パラメータを改行で並べる
BinPackParameters: false

# コンストラクタの初期化のカンマの位置
BreakConstructorInitializersBeforeComma: true

# 算術演算子の前に改行
BreakBeforeBinaryOperators: true
